$background-color: white;
$text-color: #000;
$border-color: #999;

body {
    font-family: 'PT Sans', sans-serif;
    background: $background-color;
    color: $text-color;
}

input {
    background: $background-color;
    padding: .5em;
    border: 1px solid $border-color;
    border-radius: 4px;
}